body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

select, input[type=submit] {
    margin: 10px;
    padding: 5px;
}

img {
    max-width: 500px;
    height: auto;
    margin-top: 20px;
}
